<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>507035015880-u8toajn51f0lbrn7mv6288tt3em2iaje.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.507035015880-u8toajn51f0lbrn7mv6288tt3em2iaje</string>
	<key>API_KEY</key>
	<string>AIzaSyAwc5x5WIG-vdH1ZCrklnGTsM_HNeDWQtE</string>
	<key>GCM_SENDER_ID</key>
	<string>507035015880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.igetwell.FireDB</string>
	<key>PROJECT_ID</key>
	<string>firedb2-64f7d</string>
	<key>STORAGE_BUCKET</key>
	<string>firedb2-64f7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:507035015880:ios:9a48936e90224f7b</string>
	<key>DATABASE_URL</key>
	<string>https://firedb2-64f7d.firebaseio.com</string>
</dict>
</plist>